<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <input type="text" name="user.firstname" placeholder="first name">
    <input type="text" name="user.lastname" placeholder="last name">
    <input type="text" name="user.email" placeholder="email">
    <input type="password" name="user.password" placeholder="password">
    <br>
    <input type="text" name="user.password" placeholder="org name">
    <select>
        <option value=0>Express</option>
        <option value=1>Custom</option>
    </select>
    <br>
    <input type="text" name="user.firstname" placeholder="Org Category">
    <input type="number" name="user.lastname" placeholder="org members">
    <br>
    <input type="checkbox" name="vehicle" value="Bike">Payroll<br>
    <input type="checkbox" name="vehicle" value="Car">Accounting<br>
    <br>
    <select>
        <option value=0>Invite Team members now</option>
        <option value=1>Upload file</option>
        <option value=1>Invite later</option>
    </select>
    <br>
    <input type="text" name="user.firstname" placeholder="ceo name">
    <input type="text" name="user.lastname" placeholder="ceo name">
    <input type="text" name="user.email" placeholder="ceo email">
    <br>
    <input type="text" name="user.firstname" placeholder="employee name">
    <input type="text" name="user.lastname" placeholder="employee name">
    <input type="text" name="user.email" placeholder="employee email">
    <br>
    <select multiple>
        <option value="volvo">Engineering</option>
        <option value="saab">Sales</option>
        <option value="opel">Marketing</option>
        <option value="audi">HR</option>
    </select>
    <br>
    <select multiple>
        <option value="volvo">CTO</option>
        <option value="saab">Engineering Manager</option>
        <option value="opel">Software Engineer</option>
        <option value="audi">QA</option>
    </select>
    <br>
    <select multiple>
        <option value="volvo">Basic Salary</option>
        <option value="saab">Commission</option>
        <option value="opel">Incentive</option>
        <option value="audi">Bonus</option>
    </select>
    <br>
    <select>
        <option value="volvo">Monday to friday</option>
        <option value="saab">Monday to saturday</option>
        <option value="opel">Monday to friday odd</option>
        <option value="audi">Monday to friday even</option>
        <option value="audi">Monday to friday half day saturday</option>
    </select>
    <br>
    <select>
        <option value="volvo">Only paid</option>
        <option value="saab">Paid and sick leave</option>
        <option value="opel">Paid, sick and casual leave</option>
    </select>
    <br>
    <select>
        <option value="volvo">Credit leave monthly</option>
        <option value="saab">Credit leave yearly</option>
        <option value="opel">Credit leave quartly</option>
    </select>
    <br>
    <input type="text" name="user.firstname" placeholder="Paid leaves">
    <input type="text" name="user.lastname" placeholder="Sick leaves">
    <input type="text" name="user.email" placeholder="Casual leaves">

</body>

</html>